.gallery-title
{
  background-color: #e7e7e7;
  margin : auto;
  margin-top : 10px;
  margin-bottom : 5px;
  white-space:nowrap;

  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
}

.gallery-post {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
}